#layoutContent
  color: #fff
  background-image: url("../../images/background.webp")

\::-webkit-scrollbar-track
  background: #ff0000

\::-webkit-scrollbar-thumb
  background: #00ff66

  &:hover
    background: #0000ff
